<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../Plantilla/plantilla.xhtml">

            <ui:define name="contenido">
                
                 <h:form>
		<h:panelGrid columns="2" cellspacing="20" border="1">
			<f:facet name="header">
				<h:outputText value="Nuevo Cliente"></h:outputText>
			</f:facet>
		
			<h:outputText value="Nombres"></h:outputText>
                       
                        <h:inputText value="#{Clientes.nombres}"></h:inputText>                           
                        
			<h:outputText value="Apellidos"></h:outputText>
                        <h:inputText value="#{Clientes.apellidos}"></h:inputText>


			<h:outputText value="Direccion"></h:outputText>
                        <h:inputText value="#{Clientes.direccion}"></h:inputText>

			<h:outputText value="Telefono"></h:outputText>
                        <h:inputText value="#{Clientes.telefono}"></h:inputText>

			<h:outputText value="Email"></h:outputText>
                        <h:inputText value="#{Clientes.email}"></h:inputText>

			<f:facet name="footer">
                            <h:commandButton action="#{DaoCliente.guardar(Clientes)}" value="Guardar"></h:commandButton>
			</f:facet>

		</h:panelGrid>

	</h:form>
                
                
                
                
                
                
            </ui:define>

        </ui:composition>

    </body>
</html>
