<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces" />
        <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/all.min-jsf.css" />
        <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/v4-shims.min-jsf.css" />      
        
  <title>Pacientes</title>
    </h:head>    
        
    <h:body>             
         
        <p:layout fullPage="true">            
             <p:layoutUnit position="north" gutter="0">
                <f:facet name="header">
                    <h1 align="left" style="margin: 0;">
                        CRUD JSF PRIMEFACES 
                    </h1>
                </f:facet>
            </p:layoutUnit>
            
            <p:layoutUnit position="west" resizable="true" size="1000" minSize="40" maxSize="200">           
                <p:menu>
                    <p:submenu label="Clientes">
                         <p:menuitem value="Consultar" url="../Clientes/Listar.xhtml" icon="fa fa-search"/>                         
                        <p:menuitem value="Registrar" url="../Clientes/Crear.xhtml" icon="fa fa-plus" />                    
                    </p:submenu>
                  
                </p:menu>
            </p:layoutUnit>
            
            <p:layoutUnit position="center">
                <div id="content" class="left_content"> 
                     <ui:insert name="contenido">
               
                      </ui:insert>

                </div>
            </p:layoutUnit>

        </p:layout>
    </h:body>
    
</html>
